<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>El Mercadillo Agrícola</display-name>

	<!-- CARGA EL CONTEXTO DE LA APLICACION -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/applicationContext.xml, classpath*:META-INF/spring/spring-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- ZONA DE CONTROLADORES -->
	<!-- CONTROLODAR FRONTAL Y UNICO DE SPRING MVC *** DispatcherServlet *** -->
	<servlet>
		<servlet-name>elmercadilloagricola</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring/webmvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>elmercadilloagricola</servlet-name>
		<url-pattern>/</url-pattern> <!-- Url sin extension: http://localhost:8089/elmercadilloagricola/pruebas/provincias  -->
		<!-- <url-pattern>*.htm</url-pattern> Si queremos en en la url se busque por .html (http://localhost:8089/elmercadilloagricola/pruebas/provincias.htm) --> 
	</servlet-mapping>
	
	<!-- INDICAMOS EL PERFIL DE CONFIGURACION: DESARROLLO O PRODUCCIÓN -->
	<context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>dev</param-value>  <!-- dev (develper) / prod (production) -->
    </context-param>
    
    
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude>/WEB-INF/views/common/include.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
    
    
    <!-- 
    	Por defento la relaciones entre entidades OneToMany, si son "fetch = FetchType.LAZY", 
    	se cargan de forma perezosa, cuando son demandadas no al crear el ojeto. 
    	Para que no de error de session se ponene estos filtros.   	
     -->
    <filter>
	    <filter-name>SpringOpenEntityManagerInViewFilter</filter-name>
	    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>SpringOpenEntityManagerInViewFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- filtro de Spring security-->
	<filter>
		 <filter-name>springSecurityFilterChain</filter-name>
		 <filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
	 	 </filter-class>
	</filter>
	<filter-mapping>
		 <filter-name>springSecurityFilterChain</filter-name>
		 <url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>